@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Mix-in
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

//Colors
$white: #f5f5f5;
$black: #0f0f0f;
$black-transparent: #0f0f0f80;
$grey: #e2e2e2;
$dark-grey: #2a2a2a;
$dark-grey-transparent: #2a2a2a1a;

.wrapper {
    overflow: hidden;
    @include flex-column();
    min-height: 100vh;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    @include flex-column();
    flex: 1;
    justify-content: center;
}

.text-content {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1,
h2,
h3 {
    color: $black;
    font-weight: 700;
}

p {
    color: $dark-grey;
}

.image {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

/* Flashcards - Start */
.flashcards {
    &__list {
        margin-top: 60px;
        @include flex-row();
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        perspective: 1000px;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 100vw;
            height: 80%;
            background-color: $dark-grey-transparent;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    &__item {
        position: relative;
        width: 30rem;
        height: 300px;
        cursor: pointer;
        transition: all 1s ease;
        transform-style: preserve-3d;

        &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transform: translateY(-10px);
        }

        &.flipped {
            transform: rotateY(180deg);
        }

        &-front,
        &-back {
            padding: 20px 20px;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include flex-column();
            font-size: 1.5rem;
            background-color: $white;
            overflow-y: auto;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            filter: grayscale(40%);

            p {
                font-size: 20px;
            }

            strong {
                text-shadow: 2px 2px 2px $black-transparent;
            }
        }

        &-back {
            padding: 0;
            justify-content: center;
            align-items: center;
            transform: rotateY(180deg);
        }
    }
}